/*


.bg-lightgray {
  background-color: lightgray;
} */

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
